name: Build
on:
  push:
  pull_request:

jobs:
  helm-chart:
    name: Publish chart
    runs-on: ubuntu-24.04
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Update Chart.yaml version with tag
        run: |
          export VERSION=${{ github.ref_name }}
          yq --inplace '.version = env(VERSION), .appVersion = env(VERSION)' chart/Chart.yaml
          git diff

      - name: Publish to gh-pages
        uses: manics/helm-gh-pages-action@main
        with:
          chart-dir: chart
